:global(body),
:global(html) {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.landing-container {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: #020617;
}

.landing-container::before {
    content: "";
    position: absolute;
    bottom: -10%;
    right: -5%;
    width: 60%;
    height: 60%;
    background: radial-gradient(circle at center,
            #FFFFFF 0%,
            #AEFF00 20%,
            #0ECD00 50%,
            transparent 70%);
    filter: blur(80px);
    opacity: 0.35;
    z-index: 0;
    animation: gentleMovement 8s ease-in-out infinite alternate;
}

@keyframes gentleMovement {
    0% {
        transform: translate(0, 0) scale(1);
    }

    100% {
        transform: translate(-5%, -10%) scale(1.1);
    }
}

.main-layout {
    width: 90%;
    max-width: 1200px;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}


.content-grid {
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    align-items: center;
    gap: 40px;
    margin-top: auto;
    margin-bottom: auto;
}

.title {
    font-size: 3.5rem;
    font-weight: 800;
    color: white;
    margin-bottom: 20px;
    line-height: 1.1;
}

.subtitle {
    font-size: 1.2rem;
    color: #94a3b8;
    max-width: 450px;
}

.main-image {
    width: 100%;
    border-radius: 24px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);

}

.footer-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding-bottom: 20px;
}

.btn-primary {
    background: #3b82f6;
    color: white;
    border: none;
    padding: 12px 28px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.2s;
}

.btn-secondary {
    background: transparent;
    color: white;
    border: 1px solid #475569;
    padding: 12px 28px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}